body {
		background-image: url("pawsbackground.jpg");
		font-family: Verdan, Tahoma, Arial, sans-sefif;
		font-size: 24px;
		overflow: auto;
	}
	h3 { 
	text-align: center;
	padding-left: 5%;
	color: black;
	}
	p { 
		padding: 2%;
		color: black; 
	}
	img {
		text-align: center;
		max-width: 100%;
	}
	.radius {
		border-radius: 25px;
	}
	#wrapper {
		margin: 0 auto; 
		max-width: 1100px;
		width: 98%;
		background: #7AB7FC;
		border: 5px solid #0E3552;
		border-radius: 7px;
		box-shadow: 0 0 10px 0px rgba(12, 3, 25, 0.8);
	}
	header {
		width: 99.18%;
		min-height: 125px;
		border: 1px;
		padding: 5px;
		text-align: center;
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding-left: 50px;
	}
	nav ul li {
		float: left;
		border: 1.5px solid #0E3552;
		width: 15%
	}
	nav ul li a{
		background: #F8FCD5;
		display: block;
		padding: 5% 12%;
		font-weight: bold;
		font-size: 20px;
		color: black; 
		text-decoration: none;
		text-align: center;
	}
	nav ul li a:hover, nav ul li.active a {
		background-color: #FF4242;
		color: white
	}
	.section {
		background: #7AB7FC;
		width: 29%;
		float: left;
		margin: 2%;
		text-align: center;
	}
	footer {
		background: #7AB7FC;
		width: 100%;
		overflow: hidden;
	}
	footer p a {
		color: black;
		text-decoration: none;
	}
	ul {
		list-style-type: none;
		margin: 0;
		Padding: 0;
	}
	li {
		display: vertical-align;
	}